.plus {
  // border: 1px solid black;
  background-image: url("../../../Assets/plus-square.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.minus {
  background-image: url("../../../Assets/minus-square.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
