.header {
  width: 144rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: #fff;
  z-index: 2;

  &-logo {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &-dropdown {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
