.main {
  padding: 7rem 2rem;
  display: flex;
  flex-direction: column;
  &-heading {
    & a {
      font-size: 4.6rem;
      font-weight: 400;
      color: black;
      cursor: pointer;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
}
