.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.3rem;
  height: 4.5rem;
  background: #ffffff;
  border: 1px solid #1d1f22;
  font-size: 1.6rem;
}

.text-checked {
  background: #1d1f22;
  border: 1px solid #1d1f22;
  color: #ffffff;
}

.checkbox-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid transparent;
  background: transparent;
  &-value {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.color-checked {
  border: 1px solid green;
}
